{# /src/Nutri/IngredientBundle/Resources/views/Ingredient/see.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
{{ingredient}} - Ingredient - {{ parent() }}
{% endblock %}

{% block body -%}
<h1>Ingredient {{ingredient}}</h1>

{# -------------------------------------------------------------------------- #}
{# ------------------------------- Sub nav ---------------------------------- #}
{% include '::confirmDelete.html.twig' %}
{#<div class="nav subnav">    
    {% set seeMenu = knp_menu_get( 'NutriIngredientBundle:BuilderIngredient:seeMenu' , [], {'ingredient': ingredient}) %} 
    {{ mopa_bootstrap_menu(seeMenu, {'automenu': 'pills', 'stacked':false}) }}
</div>#}
{% embed '::seeMenu.html.twig' with {
    routePrefix:    'nutri_ingredient_ingredient_',
    entityId:       'ingredient_id',
    entity:         ingredient
} %}
{% endembed %}


{# -------------------------------------------------------------------------- #}
{# ------------------------------ Ingredient info -------------------------------- #}
<table class="table table-hover table-condensed">
    <tr>
        <th>{% trans %}Name{% endtrans %}</th>
        <td>{{ingredient.name}}</td>
    </tr>
    {% if ingredient.barcode is not empty %}
    <tr>
        <th>{% trans %}Barcode{% endtrans %}</th>
        <td><a href="http://world-fr.openfoodfacts.org/produit/{{ingredient.barcode}}">{{ingredient.barcode}}</a></td>
    </tr>
    {% endif %}
    {% if ingredient.ciqualcode is not empty %}
    <tr>
        <th>{% trans %}Ciqual Code{% endtrans %}</th>
        <td>{{ingredient.ciqualcode}}</td>
    </tr>
    {% endif %}
    <tr>
        <th>{% trans %}Energy{% endtrans %} (Kcal)</th>
        <td>{{ingredient.energyKcal|number_format(0)}}</td>
    </tr>
    <tr>
        <th>{% trans %}Fat{% endtrans %} (g/100g)</th>
        <td>{{ingredient.fat|number_format(1)}}</td>
    </tr>
    <tr>
        <th>{% trans %}Saturated Fat{% endtrans %} (g/100g)</th>
        <td>{{ingredient.saturatedFat|number_format(1)}}</td>
    </tr>
    <tr>
        <th>{% trans %}Carbohydrate{% endtrans %} (g/100g)</th>
        <td>{{ingredient.carbohydrate|number_format(1)}}</td>
    </tr>
    <tr>
        <th>{% trans %}Sugars{% endtrans %} (g/100g)</th>
        <td>{{ingredient.sugars|number_format(1)}}</td>
    </tr>
    <tr>
        <th>{% trans %}Fiber{% endtrans %} (g/100g)</th>
        <td>{{ingredient.fiber|number_format(1)}}</td>
    </tr>
    <tr>
        <th>{% trans %}Proteins{% endtrans %} (g/100g)</th>
        <td>{{ingredient.proteins|number_format(1)}}</td>
    </tr>
    <tr>
        <th>{% trans %}Salt{% endtrans %} (g/100g)</th>
        <td>{{ingredient.salt|number_format(2)}}</td>
    </tr>
    <tr>
        <th>{% trans %}Sodium{% endtrans %} (g/100g)</th>
        <td>{{ingredient.sodium|number_format(2)}}</td>
    </tr>
</table>

{% endblock %}
