<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{path('oliorga_app_home_home')}}">Oliorga</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nutri <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{path('nutri_ingredient_ingredient_home')}}">{%trans%}Ingredient{%endtrans%}</a></li>
            <li><a href="{{path('nutri_recipe_recipe_home')}}">{%trans%}Recipe{%endtrans%}</a></li>
            <li><a href="{{path('nutri_recipe_menu_home')}}">{%trans%}Menu{%endtrans%}</a></li>
            <li><a href="{{path('nutri_recipe_shoplist_home')}}">{%trans%}Shop list{%endtrans%}</a></li>
                        
          </ul>
        </li>
      </ul>      
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Finance <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{path('finance_account_dashboard_home')}}">{%trans%}Dashboard{%endtrans%}</a></li>
            <li><a href="{{path('finance_account_account_home')}}">{%trans%}Account{%endtrans%}</a></li>
            <li><a href="{{path('finance_operation_category_home')}}">{%trans%}Category{%endtrans%}</a></li>
            <li><a href="{{path('finance_operation_imputation_home')}}">{%trans%}Imputation{%endtrans%}</a></li>
            <li><a href="{{path('finance_operation_stakeholder_home')}}">{%trans%}Stakeholder{%endtrans%}</a></li>
                        
          </ul>
        </li>
      </ul>      
      {#<ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>#}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>