{{ '{# /src/'~projectName~'/'~bundleShort~'Bundle/Resources/views/'~entity~'/add.html.twig #}'}}

{{ '{% extends "::base.html.twig" %}' }}

{{ '{% block title %}' }}
{{ 'New '~entity~' - '~entity~' - '~bundleShort~' - '~projectName~' - {{ parent() }}' }}
{{ '{% endblock %}' }}

{{ '{% block body -%}' }}
<h1>New {{ entity }}</h1>

{{ "{% include '::form_default.html.twig' %}" }}

{{ "{% endblock %}" }}
