{{ '{# /src/'~projectName~'/'~bundleShort~'Bundle/Resources/views/'~entity~'/add.html.twig #}'}}

{{ '{% extends "::base.html.twig" %}' }}

{{ '{% block title %}' }}
{{ '{%trans%}New '~entity~'{%endtrans%} - {%trans%}'~entity~'{%endtrans%} - {%trans%}'~bundleShort~'{%endtrans%} - '~projectName~' - {{ parent() }}' }}
{{ '{% endblock %}' }}

{{ '{% block body -%}' }}
<h1>{{ '{%trans%}' }}New {{ entity }}{{ '{%endtrans%}' }}</h1>

{{ "{% include '::form_default.html.twig' %}" }}

{{ "{% endblock %}" }}
