{{ '{# /src/'~projectName~'/'~bundleShort~'Bundle/Resources/views/'~entity~'/home.html.twig #}'}}

{{ '{% extends "::base.html.twig" %}' }}

{{ '{% block title %}' }}
{{ '{%trans%}Home{%endtrans%} - {%trans%}'~bundleShort~'{%endtrans%} - {{ parent() }}' }}
{{ '{% endblock %}' }}

{{ '{% block body -%}' }}
<h1>{{ '{%trans%}' }}{{ entity }}s' list:{{ '{%endtrans%}' }}</h1>
<hr>
<a class="btn btn-default" href="{{ '{{ path("'~route_name_prefix~'add", { "'~entity|lower~'_id": '~entity|lower~'.id }) }}' }}" role="button"><span class="glyphicon glyphicon-plus"></span> {{ '{%trans%}' }}Add{{ '{%endtrans%}' }}</a>

<p>{{ '{%trans%}' }}Quick search: {{ '{%endtrans%}' }}<input type=text id="search"></p>

<table class="footable table table-hover table-bordered table-condensed" 
       data-filter=#search 
       data-page-navigation="#pagination" 
       data-page-size="15">
    <thead>
        <tr>
            <th data-toggle="true"></th>            
        {%- for field, metadata in fields.simple %}
            {%- if metadata.type in ['date', 'datetime', 'integer', 'float'] %}

            <th data-type="numeric">{{ '{%trans%}' }}{{ field[:1]|capitalize~field[1:] }}{{ '{%endtrans%}' }}</th>

            {%- else %}

            <th>{{ '{%trans%}' }}{{ field[:1]|capitalize~field[1:] }}{{ '{%endtrans%}' }}</th>

            {%- endif %}
        {%- endfor %}

        {%- for field, metadata in fields.association %}

            <th>{{ '{%trans%}' }}{{ field[:1]|capitalize~field[1:] }}{{ '{%endtrans%}' }}</th>

        {%- endfor %}
        </tr>
    </thead>
    <tbody>
    {{ '{%- for '~entity|lower~' in '~entity|lower~'s %}' }}
        <tr>
            <td></td>
    {%- for field, metadata in fields.simple %}
        {%- if loop.first %}

            <td><a href="{{ '{{ path("'~route_name_prefix~'see", { "'~entity|lower~'_id": '~entity|lower~'.id }) }}' }}">{{ '{{'~entity|lower~'.'~field~'}}' }}</a></td>

        {%- elseif metadata.type in ['date', 'datetime'] %}

            <td data-value="{{ '{{ '~entity|lower~'.'~field~'|date("U") }}'}}">{{ '{{ '~( metadata.nullable == 'yes' ? entity|lower~'.'~field~' is not empty ? ' : '')~entity|lower~'.'~field~'|date("Y-m-d'~( metadata.type == 'datetime' ? ' H:i:s' : '')~ '") }}' }}</td>            

        {%- else %}

            <td>{{ '{{'~entity|lower~'.'~field~'}}' }}</td>

        {%- endif %}
    {%- endfor %}
    {%- for field, metadata in fields.association %}

            <td><a href="{{ '{{ path("'~metadata.route_name_prefix~'see", { "'~field~'_id": '~entity|lower~'.'~field~'.id }) }}' }}">{{ '{{'~entity|lower~'.'~field~'}}' }}</a></td>
        
    {%- endfor %}

        </tr>
    {{ '{%- endfor %}' }}
    </tbody>
    <tfoot class="hide-if-no-paging">
        <tr>
            <td colspan="{{fields.association|length + fields.simple|length + 1}}">
                <div class="text-center"><ul id="pagination" class="pagination pagination-centered"></ul></div>
            </td>
        </tr>
    </tfoot>
</table>
    
{{ '{% endblock %}' }}
