{# /src/Finance/OperationBundle/Resources/views/Stakeholder/seeEmbed.html.twig #}

{# -----------------------------------------------------------------------------
 # This template provides a convenient view of Stakeholders.
 # It can easily be embded in another Entity's see view. 
 # The template has parameters to customize which Stakeholder's info should be displayed
 ---------------------------------------------------------------------------- #}

{# -----------------------------------------------------------------------------
## Set default values.
## These are also all the possible variable of this template.
----------------------------------------------------------------------------- #}
{% if stakeholders is not defined%}        {% set stakeholders        = NULL %}{%endif%}
{% if displayHeader is not defined%}            {% set displayHeader            = true %}{%endif%}
{% if header is not defined%}                   {% set header                   = 'Stakeholders' %}{%endif%}
{% if headerSize is not defined%}               {% set headerSize               = 'h2' %}{%endif%}
{% if displayQuicksearch is not defined%}       {% set displayQuicksearch       = true %}{%endif%}
{% if entityCalling is not defined%}            {% set entityCalling            = 'Object' %}{%endif%}
{% if stakeholderPerPage is not defined%}  {% set stakeholderPerPage  = 15 %}{%endif%}
{% if hideIfEmpty is not defined%}              {% set hideIfEmpty              = false %}{%endif%}
{% if displayParent is not defined%}{% set displayParent = true %}{%endif%}


{% if not (stakeholders is empty and hideIfEmpty) %}
{# -----------------------------------------------------------------------------
## Code to be embded
----------------------------------------------------------------------------- #}
{% if displayHeader %}
<{{headerSize}}>{{header|raw}}</{{headerSize}}>
{% endif %}
{% if stakeholders is not empty %}

{% if displayQuicksearch %}
<div style='float: left; margin-right: 10px'>Quick search: <input type=text id='stakeholder_search'></div>
{% endif %}
<table class="footable table table-hover table-bordered table-condensed" 
       data-filter=#stakeholder_search 
       data-page-navigation="#stakeholder_pagination" 
       data-page-size="stakeholderPerPage">
    <thead>
        <tr>
            <th data-toggle="true"></th>
            <th>{%trans%}Name{%endtrans%}</th>
            {% if displayParent %}<th>{%trans%}Parent{%trans%}</th>{% endif %}
        </tr>
    </thead>
    <tbody>
    {%- for stakeholder in stakeholders %}
        <tr>
            <td></td>
            <td><a href="{{ path("finance_operation_stakeholder_see", { "stakeholder_id": stakeholder.id }) }}">{{stakeholder.name}}</a></td>
            {% if displayParent %}<td><a href="{{ path("finance_operation_stakeholder_see", { "parent_id": stakeholder.parent.id }) }}">{{stakeholder.parent}}</a></td>{% endif %}
        </tr>
    {%- endfor %}
    </tbody>
    <tfoot class="hide-if-no-paging">
        <tr>
            <td colspan="6">
                <div class="text-center"><ul id="stakeholder_pagination" class="pagination pagination-centered"></ul></div>
            </td>
        </tr>
    </tfoot>
</table>

{%else %}
<p>There is no Stakeholders for this {{entityCalling}}.</p>
{%endif%}

{% endif %}
