{# /src/Nutri/RecipeBundle/Resources/views/Menu/home.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
Home - Menu - Nutri - {{ parent() }}
{% endblock %}

{% block body -%}
<h1>Menus' list:</h1>
<hr>
<a class="btn btn-default" href="{{path('nutri_recipe_menu_add')}}" role="button"><span class="glyphicon glyphicon-plus"></span> Add</a>

<p>Quick search: <input type=text id="recherche"></p>

<table class="footable table table-hover table-bordered table-condensed" 
       data-filter=#recherche 
       data-page-navigation="#pagination" 
       data-page-size="15">
    <thead>
        <tr>
            <th data-toggle="true"></th>
            <th data-type="numeric">Date</th>
            <th>Person</th>   
        </tr>
    </thead>
    <tbody>
    {%- for menu in menus %}
        <tr>
            <td></td>
            <td><a href="{{ path("nutri_recipe_menu_see", { "menu_id": menu.id }) }}">{{menu.date|date('d/m/Y')}}</a></td>
            <td>{{menu.person}}</td>
        </tr>
    {%- endfor %}
    </tbody>
    <tfoot class="hide-if-no-paging">
        <tr>
            <td colspan="4">
                <div class="text-center"><ul id="pagination" class="pagination pagination-centered"></ul></div>
            </td>
        </tr>
    </tfoot>
</table>
    
{% endblock %}
