{# /src/Nutri/RecipeBundle/Resources/views/Recipe/form.html.twig #}

{% extends "::form_layout.html.twig" %}

{% block form %}

{% set prototype = 
 '<td style="width:30%">'~form_widget(form.ingredientsForRecipe.vars.prototype.ingredient, { 'attr' : { 'class' : 'select2-ajax' } })~'</td>
  <td style="width:100px">'~form_widget(form.ingredientsForRecipe.vars.prototype.quantity)~'</td>
  <td>'~form_widget(form.ingredientsForRecipe.vars.prototype.unit)~'</td>
  <td>'~form_widget(form.ingredientsForRecipe.vars.prototype.comment)~'</td>'
 %}

{# -------------------------------------------------------------------------- #}
{# ------------------------- "New Recipe" form ------------------------- #}
<hr>
{{ form_start(form) }}
    <div class="row">
        {#<div class="col-md-7 col-sm-7">#}
            {{ form_row(form.name) }} 
            {{ form_row(form.nbPeople) }} 
            {{ form_row(form.preparationTime) }} 
            {{ form_row(form.cookingTime) }} 
            {{ form_row(form.cookingTemperature) }} 
        {#</div>
        <div class="col-md-5 col-sm-5">
            <div class="alert alert-info">
                <ul>
                    <li>1 CàS = 1.5cl</li>
                    <li>1 CàC comble = 1cl</li>
                    <li>1 CàC rase = 0.5cl</li>
                </ul>
            </div>
        </div>#}
    </div>
    
    {{ form_label(form.ingredientsForRecipe) }} 
    <div class="col-lg-10 col-md-10 col-sm-10">
    <table align="center" class="table">
        <thead>
            <tr>
                <th>Ingredient</th>
                <th>Quantité</th>
                <th>Unité</th>
                <th>Commentaire</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="collectionHolder"  data-prototype="{{ prototype|e }}">
            {% for ingredientForRecipe in form.ingredientsForRecipe %}
                {#{{dump(ingredientForRecipe)}}#}
            <tr>
                <td style="width:30%">{{ form_widget(ingredientForRecipe.ingredient, { 'attr' : { 'class' : 'select2-ajax' } })  }}
                <td>{{ form_widget(ingredientForRecipe.quantity) }}</td>
                <td>{{ form_widget(ingredientForRecipe.unit) }}</td>
                <td>{{ form_widget(ingredientForRecipe.comment) }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <a href="#" style="width:100%" role="button" class="btn btn-sm btn-default add_button"><span class="glyphicon glyphicon-plus"></span> Ajouter 1 de plus</a>
                </td>
            </tr>
        </tfoot>
    </table>
    </div>
    {% do form.ingredientsForRecipe.setRendered %}
    {{ form_row(form.detail) }}   
    <input type="submit" class="btn btn-primary" />
{{ form_end(form) }}

{% include "::collectionTableScript.html.twig" %}

<script>
    $(document).ready(OnReady);
    function OnReady(){
        //var $ingredientFields  = $('.select2-search__field');
        //$ingredientFields.change(function() {LoadIngredientsAjax($(this));});
        //$ingredientFields.change(function() {alert('change');});
        $('.select2-input').on("keydown",function() {alert('change');});
    }
    function LoadIngredientsAjax($select2Field, $optionSelected){        
        $select2Field.select2("enable", false);
        var $form = $select2Field.closest('form');
        var data = {};
        data[$optionSelected.attr('name')] = $optionSelected.val();        
        $.ajax({
          url : $form.attr('action'),
          type: $form.attr('method'),
          data : data,
          success: UpdateEquipmentsImpacted
        });
    }
    function UpdateEquipmentsImpacted(html){
        alert('OK');
        //$('#nutri_recipebundle_recipe_ingredientsForRecipe_0_ingredient').replaceWith($(html).find('#nutri_recipebundle_recipe_ingredientsForRecipe_0_ingredient'));
        $('#nutri_recipebundle_recipe_ingredientsForRecipe_0_ingredient').select2("enable", true);
    }

</script>

<script>
    function formatRepo (repo) {
        if (repo.loading) return repo.text;

        var markup = '<div class="clearfix">' +
        '<div class="col-sm-1">' +
        '<img src="' +  '" style="max-width: 100%" />' +
        '</div>' +
        '<div clas="col-sm-10">' +
        '<div class="clearfix">' +
        '<div class="col-sm-6">' + repo.name + '</div>' +
        '<div class="col-sm-3"><i class="fa fa-code-fork"></i> '  + '</div>' +
        '<div class="col-sm-2"><i class="fa fa-star"></i> ' +  '</div>' +
        '</div>';

        if (repo.description) {
          markup += '<div>' + repo.description + '</div>';
        }

        markup += '</div></div>';

        return markup;
    }

    function formatRepoSelection (repo) {
        return repo.name || repo.text;
    }
    
    function updateSelect2 ($select2) {
        $(".select2-ajax").select2({
            ajax: {
              url: "{{path('nutri_ingredient_ingredient_findforselect2')}}",
              dataType: 'json',
              delay: 250,
              data: function (params) {
                return {
                  q: params.term, // search term
                  page: params.page
                };
              },
              processResults: function (data, page) {
                return {
                  results: data.items
                };
              },
              cache: true
            },
            escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
            minimumInputLength: 3,
            width: '100%',
            templateResult: formatRepo, // omitted for brevity, see the source of this page
            templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
        });
    }
    
    jQuery(document).ready(function() {
        updateSelect2($(".select2-ajax"));        
        {% for key,ingredientsForRecipe in form.ingredientsForRecipe %}
        {% set ingredient = ingredientsForRecipe.vars.value.ingredient %}
        {% if ingredient is not empty %}
        $('#nutri_recipebundle_recipe_ingredientsForRecipe_{{key}}_ingredient').prepend('<option value="{{ingredient.id}}" selected="selected">"{{ingredient.name}}"</option>'); // Add the Ingredient in the list
        $("#nutri_recipebundle_recipe_ingredientsForRecipe_{{key}}_ingredient").select2("val", {{ingredient.id}});
        {% endif %}
        {% endfor %}
    });
</script>


{% endblock %}