{# /src/Nutri/RecipeBundle/Resources/views/Recipe/see.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
{{recipe}} - {%trans%}Recipe{%endtrans%} - Nutri - {{ parent() }}
{% endblock %}

{% block body -%}
<h1>{%trans%}Recipe{%endtrans%} {{recipe}}</h1>

{# -------------------------------------------------------------------------- #}
{# ------------------------------- Sub nav ---------------------------------- #}
{% include '::confirmDelete.html.twig' %}
{#<div class="nav subnav">    
    {% set seeMenu = knp_menu_get( 'NutriRecipeBundle:BuilderRecipe:seeMenu' , [], {'recipe': recipe}) %} 
    {{ mopa_bootstrap_menu(seeMenu, {'automenu': 'pills', 'stacked':false}) }}
</div>#}
{% embed '::seeMenu.html.twig' with {
    routePrefix:    'nutri_recipe_recipe_',
    entityId:       'recipe_id',
    entity:         recipe
} only %}
{% endembed %}


{# -------------------------------------------------------------------------- #}
{# ------------------------------ Recipe info -------------------------------- #}
<table class="table table-hover table-condensed">
    <tr>
        <th>{%trans%}Name{%endtrans%}</th>
        <td>{{recipe.name}}</td>
    </tr>
    <tr>
        <th>{%trans%}Nb People{%endtrans%}</th>
        <td>{{recipe.nbPeople}}</td>
    </tr>
    <tr>
        <th>{%trans%}Preparation Time{%endtrans%}</th>
        <td>{{recipe.preparationTime}}</td>
    </tr>
    <tr>
        <th>{%trans%}Cooking Time{%endtrans%}</th>
        <td>{{recipe.cookingTime}}</td>
    </tr>
    <tr>
        <th>{%trans%}Cooking Temperature{%endtrans%}</th>
        <td>{{recipe.cookingTemperature}}</td>
    </tr>
    <tr>
        <th>{%trans%}Ingredients{%endtrans%}</th>
        <td>
            <ul>
            {% for ingredientForRecipe in recipe.ingredientsForRecipe %}
                <li>{{ingredientForRecipe.quantity}}{{ingredientForRecipe.unit == 'g' ? 'g de'}}{{ingredientForRecipe.unit == 'cl' ? 'cl de'}} <a href="{{ path("nutri_ingredient_ingredient_see", { "ingredient_id": ingredientForRecipe.ingredient.id }) }}">{{ingredientForRecipe.ingredient}}</a> {{ingredientForRecipe.comment is not empty ? '('~ingredientForRecipe.comment~')'}} </li>
            {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <th>{%trans%}Detail{%endtrans%}</th>
        <td>{{recipe.detail|raw}}</td>
    </tr>
</table>
    
    
<table class="table table-bordered table-hover table-condensed">
    <tr>
        <th>{%trans%}Ingredient{%endtrans%}</th>
        <th>{%trans%}Energy{%endtrans%} (kcal)</th>
        <th>{%trans%}Fat{%endtrans%} (g)</th>
        <th>{%trans%}Saturated fat{%endtrans%} (g)</th>
        <th>{%trans%}Carbohydrate{%endtrans%} (g)</th>
        <th>{%trans%}Sugars{%endtrans%} (g)</th>
        <th>{%trans%}Fiber{%endtrans%} (g)</th>
        <th>{%trans%}Proteins{%endtrans%} (g)</th>
        <th>{%trans%}Salt{%endtrans%} (g)</th>
        <th>{%trans%}Sodium{%endtrans%} (g)</th>
    </tr>
    {% for line in ingredientsIntakeArray %}
    <tr>
        <td><a href="{{ path("nutri_ingredient_ingredient_see", { "ingredient_id": line.ingredient.id }) }}">{{line.ingredient}}</a></td>
        <td class="text-right">{{line.energyKcal|number_format(0)}}</td>
        <td class="text-right">{{line.fat|number_format(1)}}</td>
        <td class="text-right">{{line.saturatedFat|number_format(1)}}</td>
        <td class="text-right">{{line.carbohydrate|number_format(1)}}</td>
        <td class="text-right">{{line.sugars|number_format(1)}}</td>
        <td class="text-right">{{line.fiber|number_format(1)}}</td>
        <td class="text-right">{{line.proteins|number_format(1)}}</td>
        <td class="text-right">{{line.salt|number_format(1)}}</td>
        <td class="text-right">{{line.sodium|number_format(1)}}</td>
    </tr>
    {% endfor %}
    <tr>
        <th>Total for {{recipe.nbPeople}} person{{recipe.nbPeople > 1 ? 's'}}</th>
        <th class="text-right">{{ totalIntakeArray.absolute.energyKcal|number_format(0)}}</th>
        <th class="text-right">{{ totalIntakeArray.absolute.fat|number_format(1)}}</th>
        <th class="text-right">{{ totalIntakeArray.absolute.saturatedFat|number_format(1)}}</th>
        <th class="text-right">{{ totalIntakeArray.absolute.carbohydrate|number_format(1)}}</th>
        <th class="text-right">{{ totalIntakeArray.absolute.sugars|number_format(1)}}</th>
        <th class="text-right">{{ totalIntakeArray.absolute.fiber|number_format(1)}}</th>
        <th class="text-right">{{ totalIntakeArray.absolute.proteins|number_format(1)}}</th>
        <th class="text-right">{{ totalIntakeArray.absolute.salt|number_format(1)}}</th>
        <th class="text-right">{{ totalIntakeArray.absolute.sodium|number_format(1)}}</th>
    </tr>
    {% for line in totalIntakeArray.percentRdi %}
    <tr>
        <th>{%trans%}% AJR for{%endtrans%} {{line.person}}</th>
        <td class="text-right">{{ line.energyKcal|number_format(1)}} %</td>
        <td class="text-right">{{ line.fat|number_format(1)}} %</td>
        <td class="text-right">{{ line.saturatedFat|number_format(1)}} %</td>
        <td class="text-right">{{ line.carbohydrate|number_format(1)}} %</td>
        <td class="text-right">{{ line.sugars|number_format(1)}} %</td>
        <td class="text-right">{{ line.fiber|number_format(1)}} %</td>
        <td class="text-right">{{ line.proteins|number_format(1)}} %</td>
        <td class="text-right">{{ line.salt|number_format(1)}} %</td>
        <td class="text-right">{{ line.sodium|number_format(1)}} %</td>
    </tr>
    {% endfor %}
</table>
    
{% endblock %}
