{# /src//ingredientBundle/Resources/views/Aliment/see.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
{{aliment}} - ingredient - {{ parent() }}
{% endblock %}

{% block body -%}
<h1>Aliment {{aliment}}</h1>

{# -------------------------------------------------------------------------- #}
{# ------------------------------- Sub nav ---------------------------------- #}
{% embed "::seeMenu.html.twig" with {
    routePrefix:    'nutri_ingredient_aliment_',
    entityId:       'aliment_id',
    entity:         aliment
} %}
{% endembed %}

{# -------------------------------------------------------------------------- #}
{# ------------------------------ Aliment info -------------------------------- #}
<table class="table table-hover table-condensed">
    <tr>
        <th>Name</th>
        <td>{{aliment.name}}</td>
    </tr>
    <tr>
        <th>Barcode</th>
        <td>{{aliment.barcode}}</td>
    </tr>
</table>
    


{% endblock %}
