{# /src//ingredientBundle/Resources/views/Aliment/seeEmbed.html.twig #}

{# -----------------------------------------------------------------------------
 # This template provides a convenient view of Aliments.
 # It can easily be embded in another Entity's see view. 
 # The template has parameters to customize which Aliment's info should be displayed
 ---------------------------------------------------------------------------- #}

{# -----------------------------------------------------------------------------
## Set default values.
## These are also all the possible variable of this template.
----------------------------------------------------------------------------- #}
{% if aliments is not defined%}        {% set aliments        = NULL %}{%endif%}
{% if displayHeader is not defined%}            {% set displayHeader            = true %}{%endif%}
{% if header is not defined%}                   {% set header                   = 'Aliments' %}{%endif%}
{% if headerSize is not defined%}               {% set headerSize               = 'h2' %}{%endif%}
{% if displayQuicksearch is not defined%}       {% set displayQuicksearch       = true %}{%endif%}
{% if entityCalling is not defined%}            {% set entityCalling            = 'Object' %}{%endif%}
{% if alimentPerPage is not defined%}  {% set alimentPerPage  = 15 %}{%endif%}
{% if hideIfEmpty is not defined%}              {% set hideIfEmpty              = false %}{%endif%}


{% if not (aliments is empty and hideIfEmpty) %}
{# -----------------------------------------------------------------------------
## Code to be embded
----------------------------------------------------------------------------- #}
{% if displayHeader %}
<{{headerSize}}>{{header|raw}}</{{headerSize}}>
{% endif %}
{% if aliments is not empty %}

{% if displayQuicksearch %}
<div style='float: left; margin-right: 10px'>Quick search: <input type=text id='aliment_search'></div>
{% endif %}
<table class="footable table table-hover table-bordered table-condensed" 
       data-filter=#aliment_search 
       data-page-navigation="#aliment_pagination" 
       data-page-size="alimentPerPage">
    <thead>
        <tr>
            <th data-toggle="true"></th>
            <th>Name</th>
            <th data-type="numeric">Barcode</th>
        </tr>
    </thead>
    <tbody>
    {%- for aliment in aliments %}
        <tr>
            <td></td>
            <td><a href="{{ path("nutri_ingredient_aliment_see", { "aliment_id": aliment.id }) }}">{{aliment.name}}</a></td>
            <td>{{aliment.barcode}}</td>
        </tr>
    {%- endfor %}
    </tbody>
    <tfoot class="hide-if-no-paging">
        <tr>
            <td colspan="6">
                <div class="text-center"><ul id="aliment_pagination" class="pagination pagination-centered"></ul></div>
            </td>
        </tr>
    </tfoot>
</table>

{%else %}
<p>There is no Aliments for this {{entityCalling}}.</p>
{%endif%}

{% endif %}
