{# /src/Finance/OperationBundle/Resources/views/Operation/see.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
{{operation}} - {%trans%}Operation{%endtrans%} - {{ parent() }}
{% endblock %}

{% block body -%}
<h1>{%trans%}Operation{%endtrans%} {{operation}}</h1>

{# -------------------------------------------------------------------------- #}
{# ------------------------------- Sub nav ---------------------------------- #}
{% include '::confirmDelete.html.twig' %}
{#<div class="nav subnav">    
    {% set seeMenu = knp_menu_get( 'FinanceOperationBundle:BuilderOperation:seeMenu' , [], {'operation': operation}) %} 
    {{ mopa_bootstrap_menu(seeMenu, {'automenu': 'pills', 'stacked':false}) }}
</div>#}
{% embed '::seeMenu.html.twig' with {
    routePrefix:    'finance_operation_operation_',
    entityId:       'operation_id',
    entity:         operation
} %}
    {% block menuItemAdd %}<li><a href="{{ path('finance_operation_operation_add', { "account_id": operation.account.id }) }}"><span class="glyphicon glyphicon-plus"></span> {%trans%}Add{%endtrans%}</a></li>{%endblock%}
{% endembed %}


{# -------------------------------------------------------------------------- #}
{# ------------------------------ Operation info -------------------------------- #}
<table class="table table-hover table-condensed">
    <tr>
        <th>{%trans%}Date{%endtrans%}</th>
        <td>{{ operation.date|date("d/m/Y") }}</td>
    </tr>
    <tr>
        <th>{%trans%}Amount{%endtrans%}</th>
        <td>{% include '::amountFormatting.html.twig' with {amount : operation.amount} %}</td>
    </tr>
    <tr>
        <th>{%trans%}Marked{%endtrans%}</th>
        <td>{{operation.isMarked ? 'Yes' : 'No'}}</td>
    </tr>
    <tr>
        <th>{%trans%}Comment{%endtrans%}</th>
        <td>{{operation.comment}}</td>
    </tr>
    <tr>
        <th>{%trans%}Account{%endtrans%}</th>
        <td><a href="{{ path("finance_account_account_see", { "account_id": operation.account.id }) }}">{{operation.account}}</a></td>
    </tr>
    <tr>
        <th>{%trans%}Category{%endtrans%}</th>
        <td><a href="{{ path("finance_operation_category_see", { "category_id": operation.category.id }) }}">{{operation.category}}</a></td>
    </tr>
    <tr>
        <th>{%trans%}Imputation{%endtrans%}</th>
        <td>{% if operation.imputation is not empty %}<a href="{{ path("finance_operation_imputation_see", { "imputation_id": operation.imputation.id }) }}">{{operation.imputation}}</a>{% endif %}</td>
    </tr>
    <tr>
        <th>{%trans%}Stakeholder{%endtrans%}</th>
        <td>{% if operation.stakeholder is not empty %}<a href="{{ path("finance_operation_stakeholder_see", { "stakeholder_id": operation.stakeholder.id }) }}">{{operation.stakeholder}}</a>{% endif %}</td>
    </tr>
    <tr>
        <th>{%trans%}PaymentMethod{%endtrans%}</th>
        <td>{{operation.paymentMethod}}</td>
    </tr>
</table>

{% endblock %}
