{# /src/Finance/AccountBundle/Resources/views/Account/home.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
{%trans%}Home{%endtrans%} - {%trans%}Account{%endtrans%} - {{ parent() }}
{% endblock %}

{% block body -%}
<h1>{%trans%}Accounts' list:{%endtrans%}</h1>
<hr>

<p>{%trans%}Quick search: {%endtrans%}<input type=text id="search"></p>

<table class="footable table table-hover table-bordered table-condensed" 
       data-filter=#search 
       data-page-navigation="#pagination" 
       data-page-size="20">
    <thead>
        <tr>
            <th></th>
            <th>{%trans%}Account{%endtrans%}</th>
            <th>{%trans%}Category{%endtrans%}</th>
            <th>{%trans%}Number{%endtrans%}</th>
            <th data-hide="all" >{%trans%}Iban{%endtrans%}</th>
            <th data-hide="all" data-type="numeric">{%trans%}OpenDate{%endtrans%}</th>
            <th data-hide="all" data-type="numeric">{%trans%}CloseDate{%endtrans%}</th>
            <th data-type="numeric">{%trans%}Balance{%endtrans%}</th>
        </tr>
    </thead>
    <tbody>
    {%- for accountLine in accountArray %}
        <tr>
            <td></td>
            <td><a href="{{ path("finance_account_account_see", { "account_id": accountLine.account.id }) }}">{{accountLine.account}}</a></td>
            <td>{{accountLine.account.category.className}}</td>
            <td>{{accountLine.account.number}}</td>
            <td>{{accountLine.account.iban}}</td>
            <td data-value="{{ accountLine.account.openDate|date("U") }}">{{ accountLine.account.openDate is not empty ? accountLine.account.openDate|date("Y-m-d") }}</td>
            <td data-value="{{ accountLine.account.closeDate|date("U") }}">{{ accountLine.account.closeDate is not empty ? accountLine.account.closeDate|date("Y-m-d") }}</td>
            <td class="text-right">{% include "::amountFormatting.html.twig" with {amount : accountLine.balance} %}</td>
        </tr>
    {%- endfor %}
        
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td><b>Total</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right"><b>{% include "::amountFormatting.html.twig" with {amount : total} %}</b></td>
        </tr>
    </tfoot>
</table>
    
{% endblock %}
