{# /src/Finance/AccountBundle/Resources/views/Account/see.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
{{account}} - {%trans%}Account{%endtrans%} - {{ parent() }}
{% endblock %}

{% block body -%}
<h1>{%trans%}Account{%endtrans%} {{account}}</h1>

{# -------------------------------------------------------------------------- #}
{# ------------------------------- Sub nav ---------------------------------- #}
{% include '::confirmDelete.html.twig' %}
{#<div class="nav subnav">    
    {% set seeMenu = knp_menu_get( 'FinanceAccountBundle:BuilderAccount:seeMenu' , [], {'account': account}) %} 
    {{ mopa_bootstrap_menu(seeMenu, {'automenu': 'pills', 'stacked':false}) }}
</div>#}
{% embed '::seeMenu.html.twig' with {
    routePrefix:    'finance_account_account_',
    entityId:       'account_id',
    entity:         account
} %}
    {% block menuItems %}
        {{parent()}}
        <li><a href="{{ path('finance_operation_operation_add', { 'account_id': account.id }) }}"><span class="glyphicon glyphicon-plus"></span> {%trans%}Add operation{%endtrans%}</a></li>
        <li><a href="{{ path('finance_operation_transferbetweenaccount_add', { 'account_id': account.id }) }}"><span class="glyphicon glyphicon-plus"></span> {%trans%}Add transfer{%endtrans%}</a></li>      
    {% endblock %}
{% endembed %}


{# -------------------------------------------------------------------------- #}
{# ------------------------------ Account info -------------------------------- #}
<table class="table table-hover table-condensed">
    <tr>
        <th>{%trans%}Owner{%endtrans%}</th>
        <td>{{account.owner.person}}</td>
    </tr>
    {% if account.number is not null %}
    <tr>
        <th>{%trans%}Number{%endtrans%}</th>
        <td>{{account.number}}</td>
    </tr>
    {% endif %}
    {% if account.iban is not null %}
    <tr>
        <th>{%trans%}Iban{%endtrans%}</th>
        <td>{{account.iban}}</td>
    </tr>
    {% endif %}
    {% if account.openDate is not null %}
    <tr>
        <th>{%trans%}OpenDate{%endtrans%}</th>
        <td>{{ account.openDate is not empty ? account.openDate|date("Y-m-d") }}</td>
    </tr>
    {% endif %}
    {% if account.closeDate is not null %}
    <tr>
        <th>{%trans%}CloseDate{%endtrans%}</th>
        <td>{{ account.closeDate is not empty ? account.closeDate|date("Y-m-d") }}</td>
    </tr>
    {% endif %}
    <tr>
        <th>{%trans%}Category{%endtrans%}</th>
        <td>{#<a href="{{ path("finance_account_category_see", { "category_id": account.category.id }) }}">#}{{account.category}}{#</a>#}</td>
    </tr>
    <tr>
        <th>{%trans%}Institution{%endtrans%}</th>
        <td>{#<a href="{{ path("finance_institution_institution_see", { "institution_id": account.institution.id }) }}">#}{{account.institution}}{#</a>#}</td>
    </tr>
    <tr>
        <th>{%trans%}Current balance{%endtrans%}</th>
        <td>{% include '::amountFormatting.html.twig' with {amount : balances.today} %}</td>
    </tr>
    <tr>
        <th>{%trans%}Marked balance{%endtrans%}</th>
        <td>{% include '::amountFormatting.html.twig' with {amount : balances.marked} %}</td>
    </tr>
    <tr>
        <th>{%trans%}Balance end of this month{%endtrans%}</th>
        <td>{% include '::amountFormatting.html.twig' with {amount : balances.thisMonth} %}</td>
    </tr>
    <tr>
        <th>{%trans%}Balance end of next month{%endtrans%}</th>
        <td>{% include '::amountFormatting.html.twig' with {amount : balances.nextMonth} %}</td>
    </tr>
    
</table>
    

<div id='operationsTableContainer'>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
    {% for i in 5..1 %}   
        {% set date = "now"|date_modify("-"~i~" month") %}
        <li role="presentation"><a href="#{{ date|date("Y-m") }}" aria-controls="{{ date|date("Y-m") }}" role="tab" data-toggle="tab">{{ date|date("F Y") }}</a></li>         
    {% endfor %}
        <li role="presentation" class="active"><a href="#{{ "now"|date("Y-m") }}" aria-controls="{{ "now"|date("Y-m") }}" role="tab" data-toggle="tab">{{ "now"|date("F Y") }}</a></li>
    {% for i in 1..2 %}
        {% set date = "now"|date_modify("+"~i~" month") %}
        <li role="presentation"><a href="#{{ date|date("Y-m") }}" aria-controls="{{ date|date("Y-m") }}" role="tab" data-toggle="tab">{{ date|date("F Y") }}</a></li>         
    {% endfor %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
    {% for i in 5..1 %}   
        {% set date = "now"|date_modify("-"~i~" month") %}
        <div role="tabpanel" class="tab-pane" id="{{ date|date("Y-m") }}">...</div>
    {% endfor %}
        <div role="tabpanel" class="tab-pane active success" id="{{ "now"|date("Y-m") }}"></div>
    {% for i in 1..2 %}   
        {% set date = "now"|date_modify("+"~i~" month") %}
        <div role="tabpanel" class="tab-pane" id="{{ date|date("Y-m") }}">...</div>
    {% endfor %}
    </div>

</div>

{% endblock %}

    
{% block javascripts %}
{{parent()}}

<script type="text/javascript">
    $(document).ready(OnReady);
    var loadedTabId = [];
    function OnReady(){
        var activeTab = $("#operationsTableContainer").find('.tab-content').find('.active');
        LoadOperations(activeTab);
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var activeTab = $("#operationsTableContainer").find('.tab-content').find($(this).attr('href'));
            LoadOperations(activeTab); 
        });
    }
    function LoadOperations($activeTab){
        var data = {};
        data['accountId'] = {{account.id}};
        var dateArray = $activeTab.attr('id').split("-");
        data['month'] = dateArray[1];     
        data['year'] = dateArray[0];     
        $.ajax({
            type: "POST",
            url: "{{ path('finance_account_account_displayoperationsofmonth') }}",
            data: data,
            cache: false,
            success: function(htmlTable) {
                DisplayOperationsTable(htmlTable, $activeTab);
            }
        }); 
        return false;
    }        
    function DisplayOperationsTable($htmlTable, $activeTab){
        $activeTab.html($htmlTable);
        $('.footable').footable();
    }
</script>
        
    
{% endblock %}