{# /src/Finance/OperationBundle/Resources/views/Imputation/see.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
{{imputation}} - {%trans%}Operation{%endtrans%} - {{ parent() }}
{% endblock %}

{% block body -%}
<h1>{%trans%}Imputation{%endtrans%} {{imputation}}</h1>

{# -------------------------------------------------------------------------- #}
{# ------------------------------- Sub nav ---------------------------------- #}
{% include '::confirmDelete.html.twig' %}
{#<div class="nav subnav">    
    {% set seeMenu = knp_menu_get( 'FinanceOperationBundle:BuilderImputation:seeMenu' , [], {'imputation': imputation}) %} 
    {{ mopa_bootstrap_menu(seeMenu, {'automenu': 'pills', 'stacked':false}) }}
</div>#}
{% embed '::seeMenu.html.twig' with {
    routePrefix:    'finance_operation_imputation_',
    entityId:       'imputation_id',
    entity:         imputation
} %}
{% endembed %}


{# -------------------------------------------------------------------------- #}
{# ------------------------------ Imputation info -------------------------------- #}
<table class="table table-hover table-condensed">
    <tr>
        <th>{%trans%}Name{%endtrans%}</th>
        <td>{{imputation.name}}</td>
    </tr>
    <tr>
        <th>{%trans%}StartDate{%endtrans%}</th>
        <td>{{ imputation.startDate is not empty ? imputation.startDate|date("Y-m-d") }}</td>
    </tr>
    <tr>
        <th>{%trans%}EndDate{%endtrans%}</th>
        <td>{{ imputation.endDate is not empty ? imputation.endDate|date("Y-m-d") }}</td>
    </tr>
    <tr>
        <th>{%trans%}Parent{%endtrans%}</th>
        <td><a href="{{ path("finance_operation_imputation_see", { "parent_id": imputation.parent.id }) }}">{{imputation.parent}}</a></td>
    </tr>
</table>

{% endblock %}
