{# /src/Finance/OperationBundle/Resources/views/Imputation/see.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
{{imputation}} - {%trans%}Imputation{%endtrans%} - {{ parent() }}
{% endblock %}

{% block body -%}
<h1>{%trans%}Imputation{%endtrans%} {{imputation}}</h1>

{# -------------------------------------------------------------------------- #}
{# ------------------------------- Sub nav ---------------------------------- #}
{% include '::confirmDelete.html.twig' %}
{#<div class="nav subnav">    
    {% set seeMenu = knp_menu_get( 'FinanceOperationBundle:BuilderImputation:seeMenu' , [], {'imputation': imputation}) %} 
    {{ mopa_bootstrap_menu(seeMenu, {'automenu': 'pills', 'stacked':false}) }}
</div>#}
{% embed '::seeMenu.html.twig' with {
    routePrefix:    'finance_operation_imputation_',
    entityId:       'imputation_id',
    entity:         imputation
} %}
{% endembed %}


{# -------------------------------------------------------------------------- #}
{# ------------------------------ Imputation info -------------------------------- #}
<table class="table table-hover table-condensed">
    {% if imputation.startDate is not empty %}
    <tr>
        <th>{%trans%}StartDate{%endtrans%}</th>
        <td>{{ imputation.startDate is not empty ? imputation.startDate|date("d/m/Y") }}</td>
    </tr>
    {% endif %}
    {% if imputation.endDate is not empty %}
    <tr>
        <th>{%trans%}EndDate{%endtrans%}</th>
        <td>{{ imputation.endDate is not empty ? imputation.endDate|date("d/m/Y") }}</td>
    </tr>
    {% endif %}
    {% if imputation.parent is not empty %}
    <tr>
        <th>{%trans%}Parent{%endtrans%}</th>
        <td><a href="{{ path("finance_operation_imputation_see", { "imputation_id": imputation.parent.id }) }}">{{imputation.parent}}</a></td>
    </tr>
    {% endif %}
    {% if balance is defined %}
    <tr>
        <th>{%trans%}Balance{%endtrans%}</th>
        <td><b>{% include '::amountFormatting.html.twig' with {amount:balance} %}</b></td>
    </tr>
    {% endif %}
</table>

{% if monthlyMeans is defined %}
{% include 'FinanceOperationBundle:Operation:monthlyMeans.html.twig' with {
    routePrefix : 'finance_operation_imputation_',
    entityName  : 'imputation'
}%}
{% endif %}

{% include 'FinanceOperationBundle:Operation:seeEmbed.html.twig' with {
    hideAccount         : true,
    hidePaymentMethod   : true,
}
%}

{% endblock %}
